.token-updated {
    background-color: darkgreen;
    color: white;
    padding: 2px;
}

.token-expired {
    background-color: red;
    color: white;
    padding: 2px;
}

.debug input {
    background-color: crimson;
    color: white;
    font-weight: bold;
    font-style: italic;
}